.card-top {
    display: flex;
}
.card-top .profile-photo {
    border-radius: 100%;
    overflow: hidden;
    width: 6rem;
    height: 6rem;
}

.card-top .top-info {
    margin-left: 20px;
    margin-top: -10px;
}

.info {
    display: flex;
    color: #ffffff7c;
    font-size: 11px;
}

.local {
    margin-top: -14px;
}

.info img {
    width: 13px;
    margin-right: 5px;
}

.follow {
    display: flex;
    color: #ffffff7c;
    margin-left: 5px;
    font-size: 11px;
}